body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    /* Utiliser Flexbox pour aligner le contenu */
    flex-direction: column;
    /* Disposer les éléments en colonne */
    min-height: 100vh;
    /* Forcer le body à prendre au moins 100% de la hauteur de la fenêtre */
}

main {
    padding: 20px;
    flex: 1;
    /* Cette propriété prend tout l'espace restant pour pousser le footer en bas */
}

.link-home {
    text-decoration: none;
    color: white;
}

.link-home a:hover {
    text-decoration: none;
    color: grey;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    padding-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

.separe {
    padding: 20px 0;
}

/* Pied de page */
footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    /* Enlever la position absolue */
}

/* Styles spécifiques pour la page Hashage et Cryptage */
.container {
    padding: 20px;
}

textarea {
    width: 80%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

pre {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
    max-width: 80%;
    margin: 10px auto;
    overflow-x: auto;
}

/* Code Wallet */

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

